@custom-media --palm-only (max-width: 749px);
@custom-media --lap (min-width: 750px);
@custom-media --lap--down (max-width: 999px);
@custom-media --desk (min-width: 1000px);

* {
  box-sizing: border-box; 
}

body {
  margin: 0;
}

img {
  display: block; 
}

h1, h2 {
  margin: 0;
}

a {
  color: lightblue;
}

.page-wrap {
  margin: 1.5em auto;
  max-width: 800px;
  width: 100%;

  @media( --lap ) {
    width: 95%;    
  }

  & > h1 {

    @media( --palm-only ) {
      margin: 0 2.5%;
    }
  }

  & > p {
    margin-top: 1em;

    @media( --palm-only ) {
      margin: 1em 2.5% 0 2.5%;
    }
  }
}

.main-story {
  height: 450px;
  margin: 1em auto;
  overflow: hidden;
  position: relative;

  & h1 {
    font-size: 1.5em;
  }

  & img {
    height: 100%; 
    position: absolute 0 null 0 0;
  }
}


.story-intro {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1.5em;
  position: absolute null null 0 0;
  width: 100%;

  & p {
    margin: 1em 0 0 0;
  }
}

.sub-stories {
  display: flex;
  flex-direction: column;

  @media( --lap ) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sub-story {
  position: relative;

  & h2 {
    font-size: 1.25em;
  }

  & img {
    max-width: 100%;
    width: 100%;
  }

  @media( --palm-only ) {
    max-width: 250px;
    margin: 1em auto 0 auto;

    &:first-child {
      margin-top: 0;
    }
  }

  @media( --lap ) {
    width: 33%;

    &:nth-child( 2n ) {
      margin: 0 1em;
    }
  }
}
